<footer class="text-center footer">
 <ul class="inline">
 <li><a href="/about" class="btn btn-default">About</a></li>
 <li><a href="/contact" class="btn btn-default">Contact</a></li>
 </ul>
 </footer>